# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.env
env/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# Other temp
*.swp
*.bak